@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply min-h-screen bg-white text-slate-900 antialiased font-sans;
}

* {
  @apply box-border;
}
